Repository yamirghofran/dedicatedCV: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff-format, backend-ruff-lint, frontend-biome-check

backend-ruff-format:
  name: Backend Ruff Format
  entry: uv run ruff format
  language: system
  pass_filenames: true

backend-ruff-lint:
  name: Backend Ruff Lint
  entry: uv run ruff check
  language: system
  pass_filenames: true

frontend-biome-check:
  name: Frontend Biome Check
  entry: bunx biome check --apply
  language: system
  pass_filenames: true

Feat: Translation endpoint + option in preview section
  backend/.env.example
  backend/alembic/versions/ab8c04eca7ff_.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/translation.py
  backend/app/core/config.py
  backend/app/schemas/translation.py
  backend/app/services/translation_service.py
  frontend/src/hooks/use-translation.ts
  frontend/src/lib/api/services/index.ts
  frontend/src/lib/api/services/translation.service.ts
  frontend/src/lib/api/types.ts
  frontend/src/routes/app/cvs/$id/preview.tsx
  translation-service/Dockerfile
  translation-service/Makefile
  translation-service/main.py
  translation-service/pyproject.toml
  translation-service/uv.lock
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-check

ci/cd changes, moved professional summary around on frontend, added tests to translation service
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  backend/alembic/versions/ab8c04eca7ff_.py
  backend/app/api/v1/endpoints/ai.py
  backend/app/api/v1/endpoints/translation.py
  backend/app/schemas/ai.py
  backend/app/services/translation_service.py
  frontend/src/hooks/use-ai-optimization.ts
  frontend/src/lib/api/services/ai.service.ts
  frontend/src/lib/api/types.ts
  frontend/src/routes/app/cvs/$id/edit.tsx
  frontend/src/routes/app/cvs/$id/preview.tsx
  frontend/src/routes/app/cvs/new.tsx
  translation-service/.gitignore
  translation-service/Dockerfile
  translation-service/Makefile
  translation-service/main.py
  translation-service/requirements.txt
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-check

Lint fixes and biome config fixes
  .github/workflows/cd.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  backend/.env.example
  backend/AZURE_INSIGHTS_SETUP.md
  backend/README.md
  backend/alembic/versions/ab8c04eca7ff_.py
  backend/scripts/setup.sh
  frontend/.cta.json
  frontend/README.md
  frontend/biome.json
  frontend/src/lib/api/services/ai.service.ts
  frontend/src/lib/api/services/translation.service.ts
  frontend/src/logo.svg
  frontend/src/routes/app/cvs/$id/edit.tsx
  frontend/src/routes/app/cvs/$id/preview.tsx
  frontend/src/routes/app/cvs/new.tsx
  frontend/tsconfig.json
  translation-service/.gitignore
  translation-service/main.py
  translation-service/pyproject.toml
  translation-service/requirements.txt
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-check

Fix mypy backend linting
  backend/app/services/translation_service.py
Due: backend-ruff-format, backend-ruff-lint

Updated translation-service with tests
  translation-service/.coverage
  translation-service/coverage.xml
  translation-service/main.py
  translation-service/requirements.txt
  translation-service/tests/conftest.py
  translation-service/tests/test_main.py
Due: none

Remove translation-service venv from being uploaded, refacotred dependencies for dev and test installs
  .github/workflows/ci.yml
  translation-service/pyproject.toml
  translation-service/uv.lock
Due: none

Non-root user change for dockerfile
  translation-service/Dockerfile
Due: none

refactor: improve responsive design for tablet/mobile
  frontend/src/routes/__root.tsx
  frontend/src/routes/app/cvs/$id/edit.tsx
  frontend/src/routes/app/cvs/index.tsx
  frontend/src/routes/app/dashboard.tsx
Due: frontend-biome-check

feat: improve tablet mode sidebar
  frontend/src/routes/__root.tsx
  frontend/src/routes/app/cvs/$id/export.tsx
  frontend/src/routes/app/cvs/$id/preview.tsx
Due: frontend-biome-check

Refactor Dockerfile and requirements.txt for improved caching and dependency management
  translation-service/Dockerfile
  translation-service/requirements.txt
Due: none

UI changes for translation, increased timeout to try and improve success rate of custom translation client
  backend/app/api/v1/endpoints/translation.py
  backend/app/services/translation_service.py
  frontend/src/routes/app/cvs/$id/preview.tsx
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-check

Disable internal translation client
  backend/app/services/translation_service.py
  frontend/src/routes/app/cvs/$id/preview.tsx
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-check

docs: README
  README.md
Due: none

refactor: update CD workflow to build and promote staging images with improved tagging and deployment summaries
  .github/workflows/cd.yml
Due: none

Frontend lint fixes
  backend/coverage.xml
  frontend/src/components/animate-ui/components/radix/sidebar.tsx
  frontend/src/components/animate-ui/primitives/animate/slot.tsx
  frontend/src/components/animate-ui/primitives/animate/tooltip.tsx
  frontend/src/components/animate-ui/primitives/effects/highlight.tsx
  frontend/src/components/animate-ui/primitives/radix/checkbox.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/slider.tsx
  frontend/src/hooks/use-controlled-state.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/app/account/profile.tsx
  frontend/src/routes/app/account/security.tsx
  frontend/src/routes/app/cvs/$id/edit.tsx
  frontend/src/routes/app/cvs/$id/export.tsx
  frontend/src/routes/app/cvs/$id/preview.tsx
  frontend/src/routes/app/cvs/new.tsx
  frontend/src/routes/auth/login.tsx
  frontend/src/routes/auth/register.tsx
  frontend/src/styles/cv-templates.css
  frontend/src/templates/ClassicTemplate.tsx
  translation-service/.coverage
  translation-service/coverage.xml
Due: frontend-biome-check

docs: introduce comprehensive Continuous Deployment (CD) documentation outlining pipeline architecture, trigger mechanisms, and deployment processes
  .github/CD.md
Due: none

Fix dashbaord
  frontend/src/routes/app/cvs/$id/export.tsx
  frontend/src/routes/app/cvs/index.tsx
  frontend/src/routes/app/dashboard.tsx
Due: frontend-biome-check

Final lint fixes
  frontend/src/components/animate-ui/components/radix/sidebar.tsx
  frontend/src/components/animate-ui/primitives/animate/tooltip.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/routes/app/cvs/$id/edit.tsx
  frontend/src/routes/app/cvs/$id/preview.tsx
Due: frontend-biome-check

chore: mobile touchups
  backend/alembic/versions/6275f7ac4957_.py
  frontend/biome.json
  frontend/src/components/animate-ui/components/radix/sidebar.tsx
  frontend/src/routes/app/cvs/$id/preview.tsx
  frontend/src/routes/app/cvs/index.tsx
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-check

fix: linting
  backend/alembic/versions/6275f7ac4957_.py
  frontend/src/routes/app/cvs/index.tsx
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-check

docs: replace old deployment setup documentation with a comprehensive guide detailing the Azure deployment pipeline, GitHub secrets configuration, and troubleshooting steps
  .github/DEPLOYMENT_SETUP.md
  .github/workflows/cd.yml
  DEPLOYMENT_SETUP.md
Due: none

refactor: update production health checks in CD workflow
  .github/workflows/cd.yml
Due: none

Path conditions:
  backend-ruff-format: any of: ^backend/.*\.py$ and \.py$
  backend-ruff-lint: any of: ^backend/.*\.py$ and \.py$
  frontend-biome-check: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
