Repository yamirghofran/dedicatedCV: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff-format, backend-ruff-lint, frontend-biome-format, frontend-biome-lint

.pre-commit-config.yaml:

repos:
  # Built-in pre-commit hooks for general hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
        files: \.(yml|yaml)$
      - id: check-toml
      - id: check-json

  # Backend: Ruff formatter and linter (Python) using uv
  - repo: local
    hooks:
      - id: backend-ruff-format
        name: Backend Ruff Format
        entry: uv run ruff format
        language: system
        types: [python]
        files: ^backend/.*\.py$
        pass_filenames: true

      - id: backend-ruff-lint
        name: Backend Ruff Lint
        entry: uv run ruff check
        language: system
        types: [python]
        files: ^backend/.*\.py$
        pass_filenames: true

  # Frontend: Biome format + lint (TS/TSX/JS) using Bun
  - repo: local
    hooks:
      - id: frontend-biome-format
        name: Frontend Biome Format
        entry: bunx biome format --write
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: frontend-biome-lint
        name: Frontend Biome Lint
        entry: bunx biome lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

  # Secret scanning with Gitleaks using existing config
  - repo: local
    hooks:
      - id: gitleaks-detect
        name: Gitleaks Secret Scan
        entry: gitleaks detect --source . --config .gitleaks.toml
        language: system
        pass_filenames: false

Update frontend/README.md
  frontend/README.md
Due: none

chore: update pre-commit hooks for frontend checks and Gitleaks configuration
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

chore: refactor CI workflow for backend setup and linting process
  .github/workflows/ci.yml
Due: none

chore: enhance CI documentation with backend setup and job descriptions
  .github/CI.md
Due: none

chore: add test file to trigger backend CI for change verification
  backend/test.txt
Due: none

chore: update CI workflow to use generic virtual environment path and modify test file
  .github/workflows/ci.yml
  backend/test.txt
Due: none

fix: test
  backend/test.txt
Due: none

fix: update CI workflow to specify backend virtual environment path
  .github/workflows/ci.yml
Due: none

test
  backend/test.txt
Due: none

chore: add debug step to CI workflow
  .github/workflows/ci.yml
Due: none

chore: update test file content for CI verification
  backend/test.txt
Due: none

fix: update CI workflow to consistently use backend virtual environment path
  .github/workflows/ci.yml
Due: none

chore: update test file content for CI consistency
  backend/test.txt
Due: none

fix: add permission fix for virtual environment in CI workflow
  .github/workflows/ci.yml
Due: none

chore: refine test file content for CI accuracy
  backend/test.txt
Due: none

docs: enhance CI documentation with job sequencing, shared virtualenv details, and troubleshooting tips
  .github/CI.md
  .github/workflows/ci.yml
Due: none

feat: ai
  .DS_Store
  backend/.env.example
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/ai.py
  backend/app/core/config.py
  backend/app/schemas/ai.py
  backend/app/services/ai_service.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/components/animate-ui/components/radix/sheet.tsx
  frontend/src/components/animate-ui/primitives/radix/sheet.tsx
  frontend/src/components/auth/AuthLayout.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/decor/flickering-grid.tsx
  frontend/src/hooks/use-ai-optimization.ts
  frontend/src/lib/api/services/ai.service.ts
  frontend/src/lib/api/services/index.ts
  frontend/src/lib/api/types.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/app/cvs/$id/edit.tsx
  frontend/src/routes/app/cvs/index.tsx
  frontend/src/routes/auth/login.tsx
  frontend/src/routes/auth/register.tsx
  frontend/src/templates/ClassicTemplate.tsx
  frontend/src/templates/MinimalTemplate.tsx
  frontend/src/templates/ModernTemplate.tsx
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-format, frontend-biome-lint

refactor: update CD workflow for staged deployment with DAST integration and improved image tagging
  .github/workflows/cd.yml
Due: none

feat: add ZAP scan rules configuration for security assessments
  .zap/rules.tsv
Due: none

feat: edit page UX enhancements
  frontend/src/components/auth/AuthButton.tsx
  frontend/src/components/cv/education-form.tsx
  frontend/src/components/cv/project-form.tsx
  frontend/src/components/cv/skill-form.tsx
  frontend/src/components/cv/work-experience-form.tsx
  frontend/src/components/ui/bottom-sheet.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/floating-action-button.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/app/cvs/$id/edit.tsx
  frontend/src/routes/auth.tsx
  frontend/src/routes/auth/login.tsx
  frontend/src/routes/auth/register.tsx
Due: frontend-biome-format, frontend-biome-lint

feat: small frontend touchups
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/animate-ui/components/radix/toggle-group.tsx
  frontend/src/components/animate-ui/components/radix/toggle.tsx
  frontend/src/components/animate-ui/primitives/radix/toggle-group.tsx
  frontend/src/components/animate-ui/primitives/radix/toggle.tsx
  frontend/src/routes/app/cvs/$id/preview.tsx
Due: frontend-biome-format, frontend-biome-lint

feat: mobile styling
  frontend/index.html
  frontend/src/components/auth/AuthLayout.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/app/dashboard.tsx
  frontend/src/routes/auth/login.tsx
  frontend/src/routes/auth/register.tsx
Due: frontend-biome-format, frontend-biome-lint

refactor: enhance CI deployment step with clearer naming and condition check
  .github/workflows/cd.yml
Due: none

chore: remove hardcoded URLs from staging and production environments in CD workflow
  .github/workflows/cd.yml
Due: none

debug: hardcode backend and frontend app service names to test if secret is configured incorrectly
  .github/workflows/cd.yml
Due: none

feat: add debugging step to list Azure web apps in CD workflow
  .github/workflows/cd.yml
Due: none

refactor: update CD workflow for tag-based deployment with enhanced health checks and clearer job descriptions
  .github/workflows/cd.yml
Due: none

fix: lint and build errors
  frontend/src/components/animate-ui/components/radix/toggle-group.tsx
  frontend/src/components/animate-ui/primitives/animate/slot.tsx
  frontend/src/components/animate-ui/primitives/animate/tooltip.tsx
  frontend/src/components/animate-ui/primitives/radix/checkbox.tsx
  frontend/src/components/animate-ui/primitives/radix/toggle.tsx
  frontend/src/components/auth/AuthLayout.tsx
  frontend/src/components/cv/education-form.tsx
  frontend/src/components/cv/project-form.tsx
  frontend/src/components/cv/skill-form.tsx
  frontend/src/components/cv/work-experience-form.tsx
  frontend/src/templates/MinimalTemplate.tsx
  frontend/src/templates/ModernTemplate.tsx
Due: frontend-biome-format, frontend-biome-lint

feat: dashboard
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/schemas/dashboard.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-ruff-format, backend-ruff-lint

fix: linting and dashboard
  frontend/src/components/dashboard/RecentCVs.tsx
  frontend/src/components/dashboard/StatsCards.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/hooks/use-auth.ts
  frontend/src/hooks/use-dashboard.ts
  frontend/src/integrations/tanstack-query/root-provider.tsx
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/app/cvs/$id/export.tsx
  frontend/src/routes/app/dashboard.tsx
Due: frontend-biome-format, frontend-biome-lint

fix: resolve linting issues in API client
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/services/ai_service.py
  frontend/src/components/animate-ui/components/radix/toggle-group.tsx
  frontend/src/components/animate-ui/components/radix/toggle.tsx
  frontend/src/components/animate-ui/primitives/animate/slot.tsx
  frontend/src/components/animate-ui/primitives/radix/toggle-group.tsx
  frontend/src/components/animate-ui/primitives/radix/toggle.tsx
  frontend/src/components/auth/AuthButton.tsx
  frontend/src/components/auth/AuthLayout.tsx
  frontend/src/components/cv/education-form.tsx
  frontend/src/components/cv/project-form.tsx
  frontend/src/components/cv/skill-form.tsx
  frontend/src/components/cv/work-experience-form.tsx
  frontend/src/components/dashboard/RecentCVs.tsx
  frontend/src/components/dashboard/StatsCards.tsx
  frontend/src/components/ui/bottom-sheet.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/decor/flickering-grid.tsx
  frontend/src/components/ui/floating-action-button.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/lib/api/client.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/app/cvs/$id/edit.tsx
  frontend/src/routes/app/cvs/$id/export.tsx
  frontend/src/routes/app/cvs/$id/preview.tsx
  frontend/src/routes/app/cvs/index.tsx
  frontend/src/routes/app/dashboard.tsx
  frontend/src/routes/auth/login.tsx
  frontend/src/routes/auth/register.tsx
  frontend/src/templates/ClassicTemplate.tsx
  frontend/src/templates/MinimalTemplate.tsx
  frontend/src/templates/ModernTemplate.tsx
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-format, frontend-biome-lint

feat: add Azure Blob Storage integration for CV exports and shareable links. Added sharelink table to speedup and reduce number of files in azure
  backend/.env.example
  backend/alembic/versions/5b2f9c3c0f0b_add_sharelink_table.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/exports.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/cv.py
  backend/app/models/share_link.py
  backend/app/models/user.py
  backend/app/schemas/export.py
  backend/app/services/blob_service.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/bun.lock
  frontend/src/lib/api/services/cv.service.ts
  frontend/src/lib/api/types.ts
  frontend/src/routes/app/cvs/$id/export.tsx
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-format, frontend-biome-lint

Updated configs (only use connection string)
  backend/.env.example
  backend/app/core/config.py
  backend/app/services/blob_service.py
Due: backend-ruff-format, backend-ruff-lint

New score_csv endpoint in backend to be used during preview
  backend/app/api/v1/endpoints/ai.py
  backend/app/schemas/ai.py
  backend/app/services/ai_service.py
  frontend/src/routes/app/cvs/$id/preview.tsx
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-format, frontend-biome-lint

Added profile picture upload, ai features in preview, needs ux lookover
  backend/.env.example
  backend/alembic/versions/7c1c0c9d8a2b_add_profile_picture_to_user.py
  backend/app/api/v1/endpoints/ai.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/core/config.py
  backend/app/models/user.py
  backend/app/schemas/ai.py
  backend/app/schemas/user.py
  backend/app/services/ai_service.py
  backend/app/services/blob_service.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/hooks/use-ai-optimization.ts
  frontend/src/hooks/use-auth.ts
  frontend/src/lib/api/services/ai.service.ts
  frontend/src/lib/api/services/auth.service.ts
  frontend/src/lib/api/types.ts
  frontend/src/routes/app/account/profile.tsx
  frontend/src/routes/app/cvs/$id/preview.tsx
  frontend/src/routes/app/help/faq.tsx
  frontend/src/routes/app/help/getting-started.tsx
Due: backend-ruff-format, backend-ruff-lint, frontend-biome-format, frontend-biome-lint

Fix frontend format
  frontend/src/lib/api/services/ai.service.ts
  frontend/src/lib/api/services/cv.service.ts
  frontend/src/routes/app/account/profile.tsx
  frontend/src/routes/app/cvs/$id/export.tsx
  frontend/src/routes/app/cvs/$id/preview.tsx
Due: frontend-biome-format, frontend-biome-lint

Lint fixes
  backend/app/models/share_link.py
  backend/app/models/user.py
Due: backend-ruff-format, backend-ruff-lint

fix: Uploading DAST report artifacts now works as intended
  .github/workflows/cd.yml
Due: none

Service init; working english -> spanish
  translation-service/.gitignore
  translation-service/Dockerfile
  translation-service/Makefile
  translation-service/main.py
  translation-service/pyproject.toml
  translation-service/requirements.txt
  translation-service/uv.lock
Due: none

chore: update OWASP ZAP action version in CD workflow to v0.14.0 for improved security scanning
  .github/workflows/cd.yml
Due: none
